{% extends 'notes/base.html' %}

{% block title %}
<title>Edit Topic *</title>
{% endblock title %}


{% block header %}

<span>Hello {{ request.user }}</span>

<a style="margin-left:4%" href="{% url 'logout' %}"><button>Logout</button></a>

{% endblock header %}




{% block content %}

    <div id="update">
        <h1>Update Weekly Topics</h1>

        <form method="POST" action="">

            {% csrf_token %}

            {{ form }}
            <input style="padding: 10px 0; font-size: larger; background-color: maroon; color: whitesmoke; border-style: none;" type="submit" value="submit">
        </form>

    </div>

{% endblock content %}














