<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
</head>
<body>

    <h1>Edit Task</h1>

    <form method="POST" action="">
        {% csrf_token %}
        {{form}}

        <input type="submit" name="edit task">
    </form>

    <h2>{{task.title}}</h2>

    <button><a href="{% url 'homepage' %}">Home</a></button>
    
</body>
</html>

<div class="page-wrapper">

    <div class="landing">
        <div class="index">
            <h1>{{post.title}}}</h1>
            <img src="" alt="">
            <div class="author"></div>
        </div>
        <div class="related-content">
            {% for i in post.related %}
            <p>{{i}}</p>
            {% endfor %}
        </div>
    </div>

    <main class="article">
        <div class="article-body">
            <div class="tag-line">
                {{post.tagLine}}
            </div>
            <div class="intro">
                {{post.intro}}
            </div>
        </div>
        <div class="aside">

        </div>
    </main>

</div>

